<div class="row">
    <div class="col-lg-8">
        <h1 class="page-header">{{cc.channelName}}</h1>
    </div>
    <div class="col-lg-3">
        <div class="form-group list-search">
            <input class="form-control" placeholder="Поиск..." ng-model="listname">
        </div>
    </div>
</div>
<div class="row">
    <ul class="thumb-list">
        <li ng-repeat="list in cc.playlists | filter : listname">
            <a ui-sref="dashboard.video({channelName: cc.channelName, playlist:list.id})">
                <div class="image">
                    <img ng-src="{{list.snippet.thumbnails.medium.url}}" alt="">
                </div>
                <div class="desc">
                    <h3>{{list.snippet.title}}</h3>
                    <p>{{list.snippet.publishedAt | date}}</p>
                </div>
            </a>
        </li>
    </ul>
</div>