<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'app/navbar/navbar.html'"></div>
    <!--// Navigation -->
    <div id="page-wrapper">
        <div ui-view></div>
    </div>
    <!-- /#page-wrapper -->

</div>

