<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{vc.channelName}}</h1>
        <h5 class="page-header">{{vc.playlist}}</h5>
        <h5 class="page-header">{{vc.videoId}}</h5>
    </div>

    <pre>{{vc.comments}}</pre>
    <ul>
        <li ng-repeat="comment in vc.comments">
            <strong>{{comment.snippet.topLevelComment.snippet.authorDisplayName}}</strong> : {{comment.snippet.topLevelComment.snippet.textDisplay}}
        </li>
    </ul>
</div>