<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <!--<li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Поиск...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
        </div>
        &lt;!&ndash; /input-group &ndash;&gt;
      </li>-->
      <li>
        <a ui-sref="dashboard.channel({channelName:'loftblog'})">LoftBlog</a>
        <a ui-sref="dashboard.channel({channelName:'kvn'})">КВН</a>
        <a ui-sref="dashboard.channel({channelName:'SmetanaTV'})">SmetanaTV</a>
        <a ui-sref="dashboard.channel({channelName:'pelmeniTV'})">pelmeniTV</a>
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>