<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Имя пользователя" name="username" type="text" ng-model="lc.fakeData.username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Пароль" name="password" type="password" ng-model="lc.fakeData.password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Запомнить
                                </label>
                            </div>
                            <a ui-sref="dashboard" class="btn btn-lg btn-success btn-block">Войти</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
