<h1>Users</h1>
<!-- 
<p ng-repeat="el in uc.arrayExample track by $index">{{el}}</p>
 -->
<form class="form-inline" name="searchForm">
	<div class="btn-group" uib-dropdown is-open="status.isopen" ng-init="orderKey='name'">
    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      Сортировать по {{ orderKey | orderKeyName }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li ng-click="orderKey='name'" role="menuitem"><a href="javascript:;">Имя</a></li>
      <li ng-click="orderKey='age'" role="menuitem"><a href="javascript:;">Возраст</a></li>
      <li ng-click="orderKey='gender'" role="menuitem"><a href="javascript:;">Пол</a></li>
      <li ng-click="orderKey='eyeColor'" role="menuitem"><a href="javascript:;">Цвет глаз</a></li>
    </ul>
  </div>

	<div class="checkbox" ng-init="ascdesc=0">
		<button type="button" class="btn btn-primary" ng-model="ascdesc" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Обратная сортировка</button>
	</div>

	<div class="form-group">
		<label for="searchName">Поиск </label>
		<input type="text" class="form-control" id="searchName" placeholder="Jade Doe" ng-model="searchFullname.name">
	</div>
</form>
<!-- <pre>{{ uc | json }}</pre> -->
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Имя</th>
			<th>Возраст</th>
			<th>
				<span uib-dropdown on-toggle="toggled(open)">
		      <a href id="simple-dropdown" uib-dropdown-toggle>
		        Пол
		      </a>
		      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" ng-init="humanStrict=false;human.gender=''">
		        <li ng-click="humanStrict=false;human.gender=''"><a href>Все</a></li>
		        <li ng-click="humanStrict=true;human.gender='female'"><a href>Женщины</a></li>
		        <li ng-click="humanStrict=true;human.gender='male'"><a href>Мужчины</a></li>
		      </ul>
		    </span>
			</th>
			<th>
				<span uib-dropdown on-toggle="toggled(open)">
		      <a href id="simple-dropdown2" uib-dropdown-toggle>
		        Цвет глаз
		      </a>
		      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown2" ng-init="eye.eyeColor=''">
		        <li ng-click="eye.eyeColor=''"><a href>все</a></li>
		        <li ng-repeat="color in ['голубые', 'карие','зеленые']"><a href ng-click="eye.eyeColor=color">{{color}}</a></li>
		      </ul>
		    </span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr 
			ng-repeat="user in uc.usersArray 
				| filter : searchFullname
				| orderBy : orderKey : ascdesc
				| filter : human : humanStrict
				| filter : eye 
				track by $index
			">
			<td>{{ $index+1 }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.age | ageOnlyMale : user.gender }}</td>
			<td>{{ user.gender }}</td>
			<td>{{ user.eyeColor }}</td>
		</tr>
	</tbody>
</table>