<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{pc.channelName}}</h1>
        <h5 class="page-header">{{pc.playlist}}</h5>
    </div>

    <pre>{{pc.videos}}</pre>
    <ul class="thumb-list">
        <li ng-repeat="video in pc.videos">
            <a ui-sref="dashboard.video-comments({channelName: pc.channelName, playlist:pc.playlist, videoId: video.snippet.resourceId.videoId})">
                <div class="image">
                    <img ng-src="{{video.snippet.thumbnails.medium.url}}" alt="">
                </div>
                <div class="desc">
                    <h3>{{video.snippet.title}}</h3>
                    <p>{{video.snippet.publishedAt | date}}</p>
                </div>
            </a>
        </li>
    </ul>
</div>